<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smartapponintment">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="eAppointment"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartApponintment">
        <activity
            android:name=".activities.UpdateActivity"
            android:exported="false" />
        <activity
            android:name=".activities.PatientDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".activities.AppointmentActivity"
            android:exported="true" />
        <activity
            android:name=".activities.ShowAppointmentActivity"
            android:exported="true" />
        <activity
            android:name=".activities.BookDoctorActivity"
            android:exported="true" />
        <activity
            android:name=".activities.DeleteActivity"
            android:exported="true" />
        <activity
            android:name=".activities.BottomAdminActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan"
            android:label="@string/title_activity_bottom_admin" />
        <activity
            android:name=".activities.BottomDocActivity"
            android:exported="true"
            android:label="BottomDocNavActivity" />
        <activity
            android:name=".activities.BottomNavActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan"
            android:label="@string/title_activity_bottom_nav" />
        <activity
            android:name=".activities.AlertActivity"
            android:exported="true" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".activities.SignUpActivity"
            android:exported="true" />
        <activity
            android:name=".activities.MainActivity"
            android:exported="true" />
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>